body {
  text-align: center;
  font-family: cursive;
  background-image: url("backjoin.html");
}

h4 {
  font-family: cursive;
}

.JoinUs1 {
  width: 400px;
  height: 40px;
  border-radius: 10px;
}

.JoinUs2 {
  width: 400px;
  height: 100px;
  border-radius: 10px;
}
.thanks {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
